// Utilities
//////////////////////////////////////////////////////

// Rubber Container
.container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}

.btn-wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn {
  &--large {
    cursor: pointer;
    border: none;
    height: 100px;
    color: $color_white;
    border-radius: 70px;
    padding-left: 50px;
    padding-right: 50px;
    background: linear-gradient($color_orange_light, $color_orange);
    @include text($font-family_sans, $font-size_normal, $font-weight_sans_bold);
  }
}
