
// Form

.form {
  &__control,
  &__select {
    @extend %nooutline;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: $border-width solid $color_border;
    padding-bottom: 17px;
    @include size(100%, 56px);
    @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);
  }

  &__select ~ .form__control {
    pointer-events: none;
  }

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    white-space: nowrap;
    pointer-events: none;
    color: $color_text_light;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);

    &--right {
      position: absolute;
      top: 0;
      right: 0;
      color: $color_text_light;
      @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);

      & ~ .form__control {
        padding-right: 150px;
      }
    }

    &--right-bottom {
      position: absolute;
      bottom: -40px;
      right: 5px;
      color: $color_text_light;
      @include text($font-family_sans, $font-size_xsmall, $font-weight_sans_regular);
    }

    &[required]::after {
      pointer-events: none;
      content: "";
      position: absolute;
      top: 2px;
      right: -26px;
      background: url("#{$image-path}star.jpg") 50% 50% no-repeat;
      @include size(14px, 14px);
    }
  }

  &__group {
    position: relative;
    margin-top: 42px;

    select {
      position: absolute;
      top: 0;
      color: transparent;

      option {
        color: $color_text;
      }
    }

    &__arrow {
      position: absolute;
      top: 10px;
      right: 11px;
      background: url("#{$image-path}arrow.jpg") 50% 50% no-repeat;
      @include size(34px, 27px);
    }

    &--focused {
      .form__label {
        transform: translateY(-80%);
        font-size: 1.2em;
      }

      .form__control,
      .form__select {
        border-color: $color_gray_1;
      }
    }
  }

  &__group-of-group {
    display: flex;

    > :nth-of-type(2) {
      padding-left: $size;
      padding-right: $size;
      white-space: nowrap;
      @include text($font-family_sans, $font-size_xsmall, $font-weight_sans_regular);
      line-height: 36px;
    }
  }
}

// Others design mocks

.search {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 114px;
    background: url("#{$image-path}search.jpg") 50% 50% no-repeat;
    @include size(33px, 34px);
  }

  &__control {
    @extend %nooutline;
    border-radius: 47px;
    border: $border-width solid $color_border_light;
    padding-left: 51px;
    @include size(100%, 47px);
    @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);

    &::placeholder {
      color: $color_border;
    }
  }
}

.switch {
  display: flex;
  position: relative;
  margin-bottom: 55px;
  @include size(100%, 70px);

  &:before {
    position: absolute;
    top: 0;
    content: "";
    border-radius: 70px;
    border: $border-width solid $color_border;
    @include size(100%, 66px);
  }

  > div {
    position: relative;
    flex-grow: 1;
    width: 50%;
    text-align: center;
    color: $color_text_light;
    @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);
    line-height: 62px;

    &.switch--active {
      color: $color_white;
      border-radius: 70px;
      background: linear-gradient($color_orange_light, $color_orange);
    }
  }
}

.images {
  display: flex;
}

.image {
  position: relative;
  border-radius: $border-radius_base;
  height: 90px;
  flex-grow: 1;

  &--1,
  &--2 {
    background: $color_gray;
  }

  &--empty {
    border: 1px solid $color_orange;
    background: url("#{$image-path}empty.jpg") 50% 50% no-repeat;
  }

  &:not(:last-child) {
    margin-right: 10%;
  }

  &__close {
    position: absolute;
    top: -12px;
    left: -12px;
    border: 1px solid $color_orange;
    border-radius: 13px;
    background: url("#{$image-path}close.jpg") $color_white 50% 50% no-repeat;
    @include size(26px, 26px);
  }
}

.checkbox {
  position: relative;
  padding-left: 60px;

  input {
    position: absolute;
    visibility: hidden;
  }

  label {
    text-align: left;
    @include text($font-family_sans, round($font-size_xsmall * 0.75), $font-weight_sans_regular);

    .acount-label {
      position: relative;
      top: -10px;
      margin-left: 69%;
      background: url("#{$image-path}pro.jpg") 50% 50% no-repeat;
      @include size(34px, 19px);
    }
  }

  &__box {
    position: absolute;
    top: 7px;
    left: 0;
    background: url("#{$image-path}check.jpg") 50% 50% no-repeat;
    @include size(43px, 42px);
  }
}

.capcha {
  position: relative;

  &__refresh {
    position: absolute;
    top: 0;
    right: 15px;
    background: url("#{$image-path}refresh.jpg") 50% 50% no-repeat;
    @include size(35px, 31px);
  }

  &__body {
    display: flex;
  }

  &__part {
    width: 50%;
    border: $border_width solid $color_border;
    border-radius: $border-radius_base;

    &:not(:last-child) {
      margin-right: 5%;
    }

    &:first-child {
      height: 66px;
      background: url("#{$image-path}capcha.jpg") 50% 50% no-repeat;
      background-size: contain;
    }

    &:last-child {
      @extend %nooutline;
      height: 66px;
      text-align: center;
      @include text($font-family_sans, $font-size_normal, $font-weight_sans_regular);
      line-height: 62px;
    }
  }
}

