
// Form

.form-control,
.form-select {
  @extend %nooutline;
  box-sizing: border-box;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: $border-width solid $color_border;
  padding-bottom: 17px;
  @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);
}

.form-group {
  position: relative;
  margin-top: 42px;

  select {
    position: absolute;
    top: 5px;
    color: transparent;

    option {
      color: $color_text;
    }
  }

  .form-label-right {
    position: absolute;
    top: 0;
    right: 0;
    color: $color_text_light;
    @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);

    & ~ .form-control {
      padding-right: 100px;
    }
  }

  &__arrow {
    position: absolute;
    top: 10px;
    right: 11px;
    background: url("#{$image-path}arrow.jpg") 50% 50% no-repeat;
    @include size(34px, 27px);
  }
}

.form-label {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  white-space: nowrap;
  pointer-events: none;
  color: $color_text_light;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);
}


.form-label[required] {
  &::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -26px;
    background: url("#{$image-path}star.jpg") 50% 50% no-repeat;
    @include size(14px, 14px);
  }
}

.focused {
  .form-label { // stylelint-disable-line no-descending-specificity
    transform: translateY(-80%);
    font-size: 1.2em;
  }
  // stylelint-disable
  .form-control,
  .form-select {
    border-color: $color_gray_1;
  }
  // stylelint-enable
}

.search-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 114px;
    background: url("#{$image-path}search.jpg") 50% 50% no-repeat;
    @include size(33px, 34px);
  }
}

.search-control {
  @extend %nooutline;
  border-radius: 47px;
  border: $border-width solid $color_border_light;
  padding-left: 51px;
  @include size(100%, 47px);
  @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);

  &::placeholder {
    color: $color_border;
  }
}

.switch {
  display: flex;
  position: relative;
  margin-bottom: 55px;
  @include size(100%, 70px);

  &:before {
    position: absolute;
    top: 0;
    content: "";
    border-radius: 70px;
    border: $border-width solid $color_border;
    @include size(100%, 66px);
  }

  > div {
    position: relative;
    flex-grow: 1;
    width: 50%;
    text-align: center;
    color: $color_text_light;
    @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);
    line-height: 62px;

    &.switch--active {
      color: $color_white;
      border-radius: 70px;
      background: linear-gradient($color_orange_light, $color_orange);
    }
  }
}
