// Page

.page {
  &__wrapper {
    background: $color_background;
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
  }

  &__header {
    position: relative;
    background: $color_white;
    box-shadow: $shadow_coords-x $shadow_coords-y $shadow_size $shadow_stretch $color_shadow;
    @include size(100%, 90px);

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 14px;
      background: url("#{$image-path}bar.jpg") 50% 50% no-repeat;
      @include size(49px, 41px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      right: 17px;
      background: url("#{$image-path}user.jpg") 50% 50% no-repeat;
      @include size(42px, 44px);
    }

    > div {
      padding-left: 97px;
      padding-right: 152px;
      padding-top: 18px;
    }
  }

  &__section {
    background: $color_white;
    box-shadow: $shadow_coords-x $shadow_coords-y $shadow_size $shadow_stretch fade-out($color_shadow, 0.5);
    margin-bottom: $size;

    &--bordered {
      margin-bottom: 0;
      border-bottom: $border_width solid $color_border;
    }
  }

  &__footer {
    padding-top: 42px;
    background: $color_text;

    hr {
      border: none;
      color: lighten($color_text, 10%);
      background-color: lighten($color_text, 10%);
      height: 2px;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    h5 {
      color: lighten($color_text, 25%);
      margin-bottom: 18px;
    }

    p {
      margin: 0;
      padding-top: 12px;
      padding-bottom: 10px;
      color: lighten($color_text, 25%);
      text-align: left;
      @include text($font-family_sans, round($font-size_xsmall * 0.75), $font-weight_sans_regular);
    }
  }
}

.section {
  &__morelink {
    text-align: center;
    margin-top: 27px;

    a {
      display: inline-block;
      position: relative;
      padding-left: 40px;
      @include link-style($color_text, $color_text);
      @include text($font-family_sans, $font-size_xsmall, $font-weight_sans_regular);

      .icon-more {
        position: absolute;
        top: 9px;
        left: -1px;
        background: url("#{$image-path}more.jpg") 50% 50% no-repeat;
        @include size(36px, 25px);
      }
    }

    &.close {
      display: none;
    }
  }

  &__more {
    display: none;

    &.open {
      display: block;
    }
  }
}

#section1 {
  padding-top: 32px;
  padding-bottom: 30px;

  h1 {
    margin-bottom: 85px;
  }

  h3 {
    margin-bottom: 42px;
  }
}

#section2 {
  padding-top: 100px;
  padding-bottom: 50px;

  h3 {
    margin-bottom: 44px;
  }
}

#section3 {
  padding-top: 20px;
  padding-bottom: 112px;
}

#section4 {
  padding-top: 33px;
  padding-bottom: 63px;

  h3 {
    margin-bottom: 40px;
  }
}

#section5 {
  padding-top: 42px;
  padding-bottom: 54px;
}

#section6 {
  padding-top: 40px;
  padding-bottom: 55px;

  h4 {
    margin-bottom: 17px;
  }
}

#section7 {
  padding-top: 5px;
  padding-bottom: 60px;
  margin-bottom: 0;

  .btn {
    margin-bottom: 10px;
  }

  p {
    text-align: left;
    @include text($font-family_sans, round($font-size_xsmall * 0.75), $font-weight_sans_regular);
  }
}

.footer {
  &__image1 {
    position: relative;
    margin-bottom: 38px;
    left: -4px;
    background: url("#{$image-path}social.jpg") 50% 50% no-repeat;
    @include size(227px, 60px);
  }

  &__payments {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;

    > div {
      flex-grow: 0.6;
      height: 62px;

      &:nth-of-type(3) {
        flex-grow: 1;
      }
    }
  }

  @for $i from 2 to 6 {
    &__image#{$i} {
      background: url("#{$image-path}pay#{$i - 1}.jpg") 50% 50% no-repeat;
    }
  }
}

